<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.register .Site.Params.navigation.links.video }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.register }}
            {{ partial "register.html" . }}
        {{ end }}
        {{ if .Site.Params.info }}
            {{ partial "info.html" . }}
        {{ end }}
        {{ if .Site.Params.expect }}
            {{ partial "expect.html" . }}
        {{ end }}
        {{ partial "contest.html" . }}
        {{ if .Site.Params.footer }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
