{{ "<!-- What to Expect -->" | safeHTML }}
<section class="bg-primary" id="expect">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
               {{ with .Site.Params.expect.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.expect.headline .Site.Params.expect.description1 }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.expect.description1 }}
                    <p class="text">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.expect.description2 }}
                    <p class="text">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.expect.description3 }}
                    <p class="text">{{ . | markdownify }}</p>
                {{ end }}
                <p class="text">Want to listen to one of our past sermons beforehand? Just visit <a href="http://www.hillcityrva.com/sermons" target="_blank">hillcityrva.com/sermons</a>.</p>
                <p class="text">We will have a Sign Language interpreter at the 9:30AM service. Email <a href="mailto:info@hillcityrva.com?Subject=Easter%20Services%20Accessibility" target="_top">info@hillcityrva.com</a> for further questions.</p>
            </div>
        </div>
    </div>
</section>
