{{ "<!-- REGISTRATION -->" | safeHTML }}
<section class="bg-secondary" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
               {{ with .Site.Params.info.headline }}
                    <h4 class="section-heading">{{ . }}</h4>
                {{ end }}
                {{ if and .Site.Params.info.headline }}
                    <hr class="light">
                {{ end }}
                <p class="text">We can’t wait to celebrate Easter in RVA this year, and you’re invited! Everyone's welcome and we’d love for you to invite your friends and family along. To help us prepare and accommodate, we ask that you register for your <strong>free tickets <a id="eventbrite-widget-modal-trigger-43709707913" class="text" type="link" >here</a></strong>. And don’t worry, we won’t run out! The tickets just help us to create an awesome experience for you and all of our guests.</p>
            </div>
        </div>
    </div>
    <noscript><a href="https://easterinrva.eventbrite.com" rel="noopener noreferrer" target="_blank"></noscript>
    <noscript></a>Register on Eventbrite</noscript> 
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
        var orderCompleteCallback = function() {
            console.log('Registration complete!');
        };
    
        window.EBWidgets.createWidget({
            widgetType: 'checkout',
            eventId: '43709707913',
            modal: true,
            modalTriggerElementId: 'eventbrite-widget-modal-trigger-43709707913',
            onOrderComplete: orderCompleteCallback
        });
    </script>
</section>
