{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="nav navbar-nav navbar-static-top hc-logo">
            <img src="/img/logo.svg" class="hc-logo" />
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
            {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.hillcityrva.com">Hill City</a></li>
                {{ if and .Site.Params.register .Site.Params.navigation.links.register }}
                <li>
                    <a class="page-scroll" href="#register">{{ .Site.Params.navigation.links.register }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.info .Site.Params.navigation.links.info }}
                <li>
                    <a class="page-scroll" href="#info">{{ .Site.Params.navigation.links.info }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.expect .Site.Params.navigation.links.expect }}
                <li>
                    <a class="page-scroll" href="#expect">{{ .Site.Params.navigation.links.expect }}</a>
                </li>
                {{ end }}
                {{ if .Site.Params.navigation.links.contest }}
                <li>
                    <a class="page-scroll" href="#contest">{{ .Site.Params.navigation.links.contest }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
