{{ "<!-- VIDEO -->" | safeHTML }}
<!-- {{ if .Site.Params.video.video1 }}
<section class="bg-secondary no-padding" id="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-10 col-lg-offset-2 text-center video-responsive">
                <iframe src="https://player.vimeo.com/video/{{ .Site.Params.video.video1 }}" width="750" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p class="vimeo_link" ><a href="https://vimeo.com/{{ .Site.Params.video.video1 }}">We Ready: Christmas</a> from <a href="https://vimeo.com/hillcityrva">Hill City</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>
    </div>
</section>
{{ end }} -->